@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-purple: rgb(110, 75, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-purple);
  color: aliceblue;
}

header,footer {

  width: 100%;
  padding: 30px;
  text-align: center;
  max-height: 80px;
}

 a {

  font-size: 14px;
  line-height: 28px;
  color: aliceblue;
  transition: 400ms;
}
 a:hover {
  transition: 400ms;
  font-size: 18px;
}

header a~a,footer a~a {
  margin-left: 30px;
}

/* sobre */
#about {
  text-align: center;
}
#about img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

#about h2 {
  font-size: 28px;
  line-height: 38px;
  max-width: 400px;
  margin: 38px auto 76px;
}
#about ul{
  max-width: 400px;
  margin:0 auto 76px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  list-style: none;
}