@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rebeccapurple;
}

header {
  width: 100%;
  padding: 30px;
  text-align: center;
}

header a {
  font-size: 14px;
  line-height: 24px;
  color: aliceblue;
  transition: ease-in-out 400ms;
}

header a:hover {
  transition: ease-in-out 400ms;
  font-size: 18px;
  line-height: 28px;
}

header a~a {
  margin-left: 30px;
}

