@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-purple: rgb(110, 75, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-purple);
  color: aliceblue;
}

header {
  width: 100%;
  padding: 30px;
  text-align: center;
}

header a {
  font-size: 14px;
  line-height: 24px;
  color: aliceblue;
  transition: ease-in-out 400ms;
}

header a:hover {
  transition: ease-in-out 400ms;
  font-size: 18px;
  line-height: 28px;
}

header a~a {
  margin-left: 30px;
}
main {
  text-align: center;
}
main img {
  max-width: 300px;
}

main h2 {
  font-size: 28px;
  line-height: 38px;
  max-width: 400px;
  margin: 38px auto 76px;
}
main ul{
  max-width: 400px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  list-style: none;
}