@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-purple: rgb(110, 75, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-purple);
  color: aliceblue;
}

header,footer {

  width: 100%;
  padding: 30px;
  text-align: center;
  max-height: 80px;
}

 a {

  font-size: 14px;
  line-height: 28px;
  color: aliceblue;
  transition: 400ms;
}
 a:hover {
  transition: 400ms;
  font-size: 18px;
}

header a~a,footer a~a {
  margin-left: 30px;
}

/* About */
#about {
  text-align: center;
}
#about img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

#about h2 {
  font-size: 28px;
  line-height: 38px;
  max-width: 400px;
  margin: 38px auto 76px;
}
#about ul{
  max-width: 400px;
  margin:0 auto 76px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  list-style: none;
}

/* Content */

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;


  width: 100%;
  padding: 7% 15%;

}
#content * {
  flex: 1;
}
#content h1 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 58px;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.cards .card {
  position: relative;
  border-radius: 8px;
  height: 300px;
  width: 250px;
  box-shadow: 0 5px 10px darkslateblue;

  text-align: center;

  cursor: pointer;
}

.cards .card img {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  top: 0;
  border-radius: 8px 8px 0 0;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
  width: 100%;
  height: 70%;
  
}

.cards .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid darkslateblue;
  padding-top: 18px;

  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 30%;
}

.cards.card .card-content h3 {
  font-size: 18px;
}

.cards .card .card-content .card-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.cards .card .card-content .card-info .card-price {
  font-weight: bold;
}